* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.top-header {
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}

.top-header a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

header {
  background-color: #008374;
}

.logo {
  font-size: 30px;
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #fff;
}

.logo span {
  color: #f96f59;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.dropdown {
  width: 150px;
  height: 200px;
  display: none;
  position: absolute;
  background-color: #ffffff;
}

.dropdown-li {
  position: relative;
}

.dropdown ul li a {
  color: #008374;
  margin-top: 10px;
}

.dropdown-li:hover .dropdown {
  display: block;
}

.home {
  color: #fff !important;
}

.home::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 2px;
  bottom: -10px;
  background-color: #f85a40;
}

.team::after,
.about::after,
.services::after,
.portfolio::after,
.blog::after,
.dropdown-link::after,
.contact::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: -10px;
  background-color: #f85a40;
  transition: 0.5s;
}

.about:hover::after {
  width: 51px;
}

.services:hover::after {
  width: 61px;
}

.portfolio:hover::after {
  width: 64px;
}

.team:hover::after {
  width: 40px;
}

.blog:hover::after {
  width: 35px;
}

.dropdown-link:hover::after {
  width: 84px;
}

.contact:hover::after {
  width: 57px;
}

.team:hover,
.about:hover,
.services:hover,
.portfolio:hover,
.blog:hover,
.dropdown-link:hover,
.contact:hover {
  color: #fff;
}

#hero {
  background-color: #008374;
  padding: 60px 0 0 0;
}

#hero h2 {
  color: #ffffff;
  font-size: 48px;
}

#hero p {
  color: #ffffff99;
  font-size: 16px;
}

.start-btn {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 50px;
  transition: 0.3s;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.watch-btn {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: #fff;
  font-weight: 600;
}

.box {
  padding: 60px 30px;
  background: #008d7d;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  text-align: center;
}

.box-row {
  transform: translateY(110px);
}

.box i,
.box p {
  color: #ffffff !important;
  font-size: 30px !important;
  font-weight: 700 !important;
}

#about {
  padding: 220px 0 80px 0;
}

#about .section-header {
  text-align: center;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-header h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #008374;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-header p {
  color: #6f6f6f;
  margin-bottom: 50px;
}

.about-left h3 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}

.about-right ul {
  list-style-type: none;
}

.about-right ul li i {
  font-size: 20px;
  color: #008374;
  margin-right: 15px;
}

#clients {
  padding: 70px 0;
}

.client-item {
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
}

.client-item span {
  font-size: 40px;
  font-weight: 700;
  color: #008374;
  line-height: 40px;
  margin-right: 20px;
}

#action {
  padding: 60px 0;
}

.action-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bg.jpg) center center;
  background-size: cover;
  padding: 100px 60px;
  border-radius: 15px;
  position: relative;
}

.action-img h3 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 70px;
}

.action-img p {
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 50px;
}

.call-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 48px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.call-btn:hover {
  background-color: #008374;
}

#service {
  padding: 80px 0;
  background-color: #f6f6f6;
}

.service-header {
  text-align: center;
}

.service-header h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.service-header h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #008374;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.service-icon {
  font-size: 56px;
  color: #222222;
}

.service-item h3 {
  color: #222222;
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #eeeeee;
  transition: 0.3s;
}

.service-item {
  padding: 40px;
  background: #fff;
  height: 100%;
  border-radius: 10px;
}

.service-item p {
  line-height: 24px;
  font-size: 14px;
}

.read {
  color: #008374;
}

.service-item:hover .service-item h3 {
  border-color: #008374;
}

#testimonials {
  height: 40rem;
}

.person {
  padding: 30px;
  margin: 30px 10px;
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.1);
  position: relative;
  background: #fff;
  border-radius: 10px;
}

.ceo {
  width: 90px;
  border-radius: 50px;
  margin-right: 15px;
}

.ceo-name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #000;
}

.ceo-status {
  font-size: 14px;
  color: #999;
}

#portfolio {
  background-color: #f6f6f6;
  padding: 70px 0;
}

.portfolio-item {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.portfolio-content {
  padding: 25px 20px;
  background-color: #fff;
  position: relative;
  border-top: 1px solid #f3f3f3;
  z-index: 2;
}

.portfolio-content h4 {
  font-size: 18px;
  font-weight: 600;
  padding-right: 50px;
}

.portfolio-content p {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 0;
  padding-right: 50px;
}

#team {
  padding: 70px 0;
}

.member {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}

.member h4 {
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 2px;
  font-size: 20px;
}

.member span {
  font-style: italic;
  display: block;
  font-size: 14px;
  color: #6c757d;
}

.social {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social a {
  color: #a2a2a2;
  transition: 0.3s;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bbbbbb;
}

.social a:hover {
  color: #008374;
  border-color: #008374;
}

#pricing {
  background-color: rgb(246, 246, 246);
  padding: 70px 0 150px 0;
}

.pricing-item {
  padding: 60px 40px;
  box-shadow: rgba(108, 117, 125, 0.15) 0px 3px 20px -2px;
  background: rgb(255, 255, 255);
  height: 100%;
  border-radius: 15px;
}

.pricing-item h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
  color: rgb(85, 85, 85);
  text-align: center;
}

.pricing-item h4 {
  font-size: 48px;
  color: #f85a40;
  font-weight: 700;
  margin-bottom: 0px;
  text-align: center;
}

.pricing-item h4 span {
  color: rgba(108, 117, 125, 0.8);
  font-size: 18px;
  font-weight: 400;
}

.pricing-item ul {
  padding: 20px 30px;
  list-style: none;
  color: rgb(108, 117, 125);
  text-align: left;
  line-height: 20px;
}

.pricing-item ul li {
  padding: 10px 0px;
  display: flex;
  align-items: center;
}

.pricing-item ul li i {
  color: rgb(5, 150, 82);
  font-size: 24px;
  padding-right: 3px;
}

.not {
  color: rgba(108, 117, 125, 0.5) !important;
  text-decoration: line-through;
}

.pricing-item a {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 50px;
  color: #008374;
  border: 1px solid rgba(0, 131, 116, 0.2);
  font-size: 16px;
  font-weight: 600;
}

.pricing-item a:hover {
  background-color: #008374;
  color: #ffffff;
}

.business-plan {
  z-index: 10;
  border: 3px solid #008374;
  transform: scale(1.2);
}

.pricing-p {
  margin-bottom: 140px;
}

#question {
  padding: 80px 0;
}

.question-content {
  margin-right: 3rem;
  margin-left: 3rem;
}

.question-content h3 {
  font-weight: 400;
  font-size: 34px;
}

.question-content p {
  font-size: 15px;
  color: #6c757d;
}

.accordion-button {
  padding: 20px 50px 20px 20px;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  line-height: 24px;
  color: #222222;
  text-align: left;
  background: #fff;
  box-shadow: none;
}

.accordion-item {
  border: 0;
  margin-bottom: 20px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.faq-num {
  padding-right: 10px;
  font-size: 20px;
  line-height: 0;
  color: #008374;
}

#blog-post {
  padding: 70px 0;
  background-color: rgb(246, 246, 246);
  height: 55rem;
}

.blog-item {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 30px;
  height: 100%;
  border-radius: 10px;
}

.blog-item p {
  font-size: 16px;
  color: #6f6f6f;
  margin-bottom: 10px;
}

.author-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.blog-item h2 {
  font-size: 22px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog-name {
  font-weight: 600;
  margin-bottom: 5px !important;
  color: #3c3c3c !important;
}
